<!DOCTYPE html>
<html>
<head>
  <title>Students</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% @students.each do |student|  %>
    <ul>
    <li>
    <%= student.to_s %>
    </li>
    </ul>
<% end %>
</body>
</html>
